*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    --cor-primaria: rgb(145, 55, 55);
    --cor-de-fundo: #fff;
    --cor-de-texto: #000;


    background-color: var(--cor-de-fundo);
   
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: var(--cor-de-texto);
}

p{
    width: 600px;
    height: 90px;
}

a{
    background-color: var(--cor-primaria);
    text-decoration: none;
    padding: 10px;
    color: var(--cor-de-fundo);
}

button{
    all: unset;
    border: 1px solid var(--cor-de-texto);
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}

header{
    justify-content: flex-end;
    display: flex;
}

.home{
    color: var(--cor-primaria);
    font-weight: bold;
}

nav{
    display: flex;
    width: 300px;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

nav li{
    list-style: none;  
}